body {
    position: relative;
    width: 1440px;
    height: 900px;
    background: #FFFFFF;
}

#sidebar {
    position: absolute;
    visibility: hidden;
    width: 361px;
    height: 900px;
    left: 0px;
    top: 0px;

    background: #C4C4C4;
}

img {
    position: absolute;
    width: 249px;
    height: 74px;
    left: 460px;
    top: 254px;
}

hr {
    position: absolute;
    width: 520px;
    height: 0px;
    left: 460px;
    top: 355px;

    border: 2px solid #417671;
}

#emailBody {
    position: absolute;
    width: 453px;
    height: 252px;
    left: 460px;
    top: 382px;

    font-family: 'Inter';
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    color: #000;
}

a {
    color: #D46136;
}

#forgotPw {
    background-color: #D46136;
    color: #FFFFFF;
    width: 139px;
    height: 35px;
    border-radius: 8px;
    border: none;


    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 28px;

    flex: none;
    order: 1;
    flex-grow: 0;  
}

.resetPassword {
    color: #D46136;
    position: absolute;
    
}

